body {
  margin: 0;
  color: var(--text);
  font-family: "Spline Sans", sans-serif;
  background-color: #fff;
}

:root {
  --brand-hue: 35;
  --brand-saturation: 100%;
  --brand-lightness: 50%;
  --brand: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
  --text: hsl(var(--brand-hue) var(--brand-saturation) 10%);
  --text-shade: hsl(var(--brand-hue) 30% 30%);
  --surface1: hsl(var(--brand-hue) 10% 98%);
  --surface2: hsl(var(--brand-hue) 5%  90%);
  --surface3: hsl(var(--brand-hue) 10% 85%);
  --surface4: hsl(var(--brand-hue) 10% 80%);
  --surface-shadow: var(--brand-hue) 50% 7.5%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand: hsl(var(--brand-hue) calc(var(--brand-saturation) / 2) calc(var(--brand-lightness) / 1.5));
    --text: hsl(var(--brand-hue) 15% 85%);
    --text-shade: hsl(var(--brand-hue) 5% 65%);
    --surface1: hsl(var(--brand-hue) 10% 10%);
    --surface2: hsl(var(--brand-hue) 10% 15%);
    --surface3: hsl(var(--brand-hue) 5%  20%);
    --surface4: hsl(var(--brand-hue) 5% 25%);
    --surface-shadow: var(--brand-hue) 50% 3%;
  }

  body {
    background-color: #000;
  }
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

button {
  background-color: $color;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  color: inherit;
  border: none;
}
